
<div>
  <h4 class="font-weight-bold mt-0 mb-4">Lịch sử đơn hàng</h4>
  <div>
    <div  *ngFor="let order of listOrder" class="bg-white card mb-4 order-list shadow-sm">
              <app-order-detail-user order_id="{{order.id}}" merchant_name="{{order.merchant.name}}" merchant_address="{{order.merchant.address}}"
              orderStatus_nameOrderStatus="{{order.orderStatus.nameOrderStatus}}" order_createAt="{{order.createAt}}"
              ></app-order-detail-user>
    </div>
  </div>
  <pagination-controls class="btn btn-sm btn-outline-primary" class="myPagination" >
  </pagination-controls>
</div>
