
<div>
  <h4 class="font-weight-bold mt-0 mb-4">Lịch sử đơn hàng</h4>
  <div>
    <div  *ngFor="let order of listOrder" class="bg-white card mb-4 order-list shadow-sm">
      <div  class="gold-members p-4">
        <a>
          <div class="media">
            <div class="media-body">
              <span class="float-right text-info"># {{order.id}}</span>
              <h6 class="mb-2">
                <a class="text-black">   <h5>{{order.merchant.name}}</h5>
                </a>
              </h6>
              <p class="text-gray mb-1">Tình trạng đơn hàng: {{order.orderStatus.nameOrderStatus}}
              </p>
<!--              <p class="text-gray mb-3"><i class="icofont-list"></i>-->
<!--                <br>-->
<!--                <i class="fa fa-dollar"></i>-->
                <!--                    <i class="material-symbols-outlined ml-2"></i>-->
<!--                PRICE  VND</p>-->
<!--              <p class="text-dark">-->
<!--              </p>-->
              <hr>
              <app-order-detail-user order_id="{{order.id}}"></app-order-detail-user>
              <hr>
<!--              <div class="float-right">-->
<!--                <a class="btn btn-sm btn-primary"><i-->
<!--                ></i> Mua hàng</a>-->
<!--              </div>-->
              <p class="mb-0 text-black text-primary pt-2"><span
                class="text-black font-weight-bold"> Tổng tiền thanh toán:</span> {{order.priceTotal}} VND
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <pagination-controls class="btn btn-sm btn-outline-primary" class="myPagination" >
  </pagination-controls>
</div>
